body {
    font-family: cursive;
    padding-top: 150px;
    height: 100%;
    margin: 0;
    background-image: url(Assets/profile.jpg);
}

nav {
    background-color: rgb(247, 248, 234);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    width: 80%;
    margin: auto;
    height: 100px;
    z-index: 1000;
    gap: 15px;
}

nav button {
    background-color: rgb(241, 241, 98);
    border-radius: 50px;
    padding: 10px;
    border: none;
    font-size: 15px;
}


nav button.smallButton {
    flex-grow: 1;
}

nav button:nth-child(3) {
    flex-grow: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



button img {
    width: 40px;
}


section {
    padding: 20px;
    margin-top: 20px;
}


main div {
    width: 100%;
}

main div button {
    background-color: rgb(241, 241, 98);
    border-radius: 50px;
    padding: 10px;
    border: none;
    margin-top: 10px;
    color: rgb(165, 87, 42);
}

button:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1);
}

button {
    transition: transform 0.5s;
    transition: opacity 0.5s;
}


main section div img {
    width: 250px;
    height: 150px;
}

section {
    width: 100%;
}

div.card {
    max-width: 300px;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgb(247, 248, 234);
    text-align: center;
    min-width: 250px;
}

div.card img {
    width: 100%;
    object-fit: cover;
}

div.cardDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

div#cardsDiv {
    display: flex;
    justify-content: center;
    gap: 20px 20px;
    flex-wrap: wrap;
    color: rgb(165, 132, 42);
}

div.card button {
    margin-bottom: 10px;
}

#articles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#articles div {
    background-color: rgb(247, 248, 234);
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

div.elements {
    flex: 1 1 50%;
}

div span {
    font-weight: bold;
}


footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 241, 98);
}